@model GameSource.ViewModels.GameSource.DeveloperViewModel.DeveloperCreateViewModel

@{
    ViewData["Title"] = "Add a new Developer";
}

<h1 class="text-center">Add a new Developer</h1>

<div class="container">
    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Developer.ID" />
            <div class="form-group">
                <label asp-for="Developer.Name" class="control-label"></label>
                <input asp-for="Developer.Name" class="form-control" />
                <span asp-validation-for="Developer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="row">
        <a asp-action="Index">Back to Index</a>
    </div>
</div>