@model GameSource.ViewModels.GameSource.DeveloperViewModel.DeveloperDetailsViewModel

@{
    ViewData["Title"] = "Developer";
}

<label asp-for="Developer.Name" class="control-label font-weight-bold"></label><h1 class="text-center">@Model.Developer.Name</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Developer.ID" class="control-label font-weight-bold"></label><p>@Model.Developer.ID</p>
        </div>
    </div>
</div>