@model GameSource.ViewModels.GameSource.GameViewModel.GameCreateViewModel

@{
    ViewData["Title"] = "Add a new Game";
}

<h1 class="text-center">Add a new Game</h1>

<div class="container">
    <div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.ID" id="gameId" />
            <div class="form-group">
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Description" class="control-label"></label>
                <input asp-for="Game.Description" class="form-control" />
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Genre" class="control-label" for="ajax"></label>
                <select asp-for="Game.GenreID" asp-items="@Model.Genres" class="form-control">
                    <option value="">Select a Genre/Genres</option>
                </select>
                <span asp-validation-for="Game.Genre" class="text-danger"></span>

                @*<multiselect v-model="model.genresmultiselect" id="ajax" label="name" track-by="id" placeholder="" open-direction="bottom" :options="genresmultiselect" :multiple="true" :searchable="true" :loading="isLoadingGenres" :internal-search="false" :clear-on-select="true" :close-on-select="false" :options-limit="300" :limit="5" :max-height="600" :show-no-results="false" v-on:search-change="genreSearch">
                    <template slot="genre" slot-scope="{ option, remove }">
                        <span class="multiselect__genre">
                            <span>{{ option.name }}</span>
                            <span class="multiselect__genre-icon" v-on:click="remove(option)"></span>
                        </span>
                    </template>
                    <template slot="clear" slot-scope="props">
                    </template>
                    <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
                </multiselect>*@

                @*<label class="typo__label">Tagging</label>
                <multiselect v-model="value" tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="name" track-by="code" :options="options" :multiple="true" :taggable="true" @@tag="addTag"></multiselect>
                <pre class="language-json"><code>{{ value  }}</code></pre>*@
            </div>
            <div class="form-group">
                <label asp-for="Game.Developer" class="control-label"></label>
                <select asp-for="Game.DeveloperID" asp-items="@Model.Developers" class="form-control">
                    <option value="">Select a Developer</option>
                </select>
                <span asp-validation-for="Game.Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Publisher" class="control-label"></label>
                <select asp-for="Game.PublisherID" asp-items="@Model.Publishers" class="form-control">
                    <option value="">Select a Publisher</option>
                </select>
                <span asp-validation-for="Game.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Platform" class="control-label"></label>
                <select asp-for="Game.PlatformID" asp-items="@Model.Platforms" class="form-control">
                    <option value="">Select a Platform/Platforms</option>
                </select>
                <span asp-validation-for="Game.Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to Index</a>
    </div>
</div>

@section scripts {
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    @*<script src="~/js/vue/game-create.js"></script>*@
}