@model GameSource.ViewModels.GameSource.GameViewModel.GameEditViewModel

@{
    ViewData["Title"] = "Edit " + Model.Game.Name;
}

<div class="edit-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Edit Game</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-action="Edit" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Game.ID" />
                <div class="form-group">
                    <label asp-for="Game.Name" class="control-label dialog-label"></label>
                    <input asp-for="Game.Name" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Game.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Genre" class="control-label dialog-label"></label>
                    <select asp-for="GenreID" asp-items="@Model.Genres" class="form-control dialog-input dialog-input-base">
                        <option value="">Select a Genre/Genres</option>
                    </select>
                    <span asp-validation-for="Game.Genre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Developer" class="control-label dialog-label"></label>
                    <select asp-for="DeveloperID" asp-items="@Model.Developers" class="form-control dialog-input dialog-input-base">
                        <option value="">Select a Developer</option>
                    </select>
                    <span asp-validation-for="Game.Developer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Publisher" class="control-label dialog-label"></label>
                    <select asp-for="PublisherID" asp-items="@Model.Publishers" class="form-control dialog-input dialog-input-base">
                        <option value="">Select a Publisher</option>
                    </select>
                    <span asp-validation-for="Game.Publisher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Platform" class="control-label dialog-label"></label>
                    <select asp-for="PlatformID" asp-items="@Model.Platforms" class="form-control dialog-input dialog-input-base">
                        <option value="">Select a Platform/Platforms</option>
                    </select>
                    <span asp-validation-for="Game.Platform" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Game.Description" class="control-label dialog-label"></label>
                    <textarea asp-for="Game.Description" class="form-control dialog-input dialog-input-base dialog-textarea"></textarea>
                    <span asp-validation-for="Game.Description" class="text-danger"></span>
                </div>
                <div class="link-section">
                    <div class="form-group">
                        <input type="submit" value="Save changes" class="btn btn-primary" />
                        <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}