
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="row">
        <div class="col-12">
            <div class="page-heading">GameSource</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
             
        </div>
    </div>
</div>