@{
    ViewData["Title"] = "Welcome to Game Source";
}

<div class="text-center" id="homepage-top-section">
    <h1 class="display-4">Games, games and more games.</h1>
    <p>A place for databasing and discussing all things games.</p>
</div>
