@model GameSource.Areas.Admin.ViewModels.UserStatusViewModel.AdminUserStatusDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User Status</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserStatus.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserStatus.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Admin" asp-action="EditUserStatus" asp-route-id="@Model.UserStatus.Id">Edit</a> |
    <a asp-area="Admin" asp-controller="Admin" asp-action="UserStatusIndex">Back to List</a>
</div>
