@model GameSource.Areas.Admin.ViewModels.UserRoleViewModel.AdminUserRoleCreateViewModel

@{
    ViewData["Title"] = "Admin - Create User Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="create-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Admin</div>
            <div class="page-sub-heading text-uppercase">Create User Role</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-action="Create" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label dialog-label"></label>
                    <input asp-for="Name" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label dialog-label"></label>
                    <input asp-for="Description" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="submit-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-primary index-link" asp-area="Admin" asp-controller="UserRole" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>