@model GameSource.Models.GameSourceUser.UserRole

@{
    ViewData["Title"] = "Delete User Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="delete-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Delete User Role</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <p class="text-center">Are you sure you want to delete this User Role?</p>
        </div>
    </div>
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Id" class="control-label font-weight-bold">ID</label>
            </div>
            <div class="col-2">
                <div>@Model.Id</div>
            </div>
        </div>
        <div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Name" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Model.Name</div>
            </div>
        </div>
        <div class="row justify-content-center text-left">
            <div class="col-2">
                <label asp-for="Description" class="control-label font-weight-bold"></label>
            </div>
            <div class="col-2">
                <div>@Model.Description</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <hr />
                <div class="submit-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a class="btn btn-primary index-link" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>