@model GameSource.ViewModels.GameSource.PlatformTypeViewModel.PlatformTypeDetailsViewModel

@{
    ViewData["Title"] = Model.PlatformType.Name;
}

<div class="details-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Platform Type</div>
            <div class="page-sub-heading">@Model.PlatformType.Name</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <label asp-for="PlatformType.ID" class="control-label font-weight-bold"></label>
            <p>@Model.PlatformType.ID</p>
            <label asp-for="PlatformType.Name" class="control-label font-weight-bold"></label>
            <p>@Model.PlatformType.Name</p>
            <hr />
            <div class="link-section">
                <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
            </div>
        </div>
    </div>
</div>