@model GameSource.ViewModels.GameSource.PlatformTypeViewModel.PlatformTypeDetailsViewModel

@{
    ViewData["Title"] = "Platform Type";
}

<div class="container">
    <div class="page-heading text-center">Platform Type</div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <label asp-for="PlatformType.ID" class="control-label font-weight-bold"></label>
            <p>@Model.PlatformType.ID</p>
            <label asp-for="PlatformType.Name" class="control-label font-weight-bold"></label>
            <p>@Model.PlatformType.Name</p>
            <hr />
        </div>
    </div>
    <div class="row link-section">
        <div class="col-md-12">
            <a class="index-link" asp-action="Index">Back to Index</a>
        </div>
    </div>
</div>