@model GameSource.ViewModels.GameSource.PlatformTypeViewModel.PlatformTypeDetailsViewModel

@{
    ViewData["Title"] = "Platform Type";
}

<label asp-for="PlatformType.Name" class="control-label font-weight-bold"></label><h1 class="text-center">Platform</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="PlatformType.ID" class="control-label font-weight-bold"></label><p>@Model.PlatformType.ID</p>
        </div>
    </div>
</div>