@model GameSource.ViewModels.GameSource.PlatformTypeViewModel.PlatformTypeEditViewModel

@{
    ViewData["Title"] = "Edit " + Model.PlatformType.Name;
}

<div class="edit-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Edit Platform Type</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-action="Edit" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PlatformType.ID" />
                <div class="form-group">
                    <label asp-for="PlatformType.Name" class="control-label dialog-label"></label>
                    <input asp-for="PlatformType.Name" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="PlatformType.Name" class="text-danger"></span>
                </div>
                <div class="submit-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Save changes" class="btn btn-primary" />
                        <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}