@model GameSource.ViewModels.GameSource.PlatformTypeViewModel.PlatformTypeIndexViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

@{
    ViewData["Title"] = "Platform Type Index";
}

<div class="container index-page page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="page-heading">Platform Type Index</div>
            <hr />
            @if (signInManager.IsSignedIn(User))
            {
                <p>
                    <a class="btn btn-primary" asp-controller="PlatformType" asp-action="Create">Add a new Platform Type</a>
                </p>
                <hr />
            }

            <table class="table" id="platformTypeIndexTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var platformType in Model.PlatformTypes)
                    {
                        <tr>
                            <td>@platformType.Name</td>
                            <td>
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@platformType.ID">View</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@platformType.ID">Edit</a>
                                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@platformType.ID">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/index-datatables.js"></script>
}