@model GameSource.ViewModels.GameSource.PlatformTypeViewModel.PlatformTypeIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var platformType in Model.PlatformTypes)
            {
                <tr>
                    <td>@platformType.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@platformType.ID">View</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@platformType.ID">Edit</a>
                        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@platformType.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

