@model GameSource.ViewModels.GameSource.GenreViewModel.GenreCreateViewModel

@{
    ViewData["Title"] = "Add a new Genre";
}

<div class="container create-page page-content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="page-heading">Add a new Genre</div>
            <hr />
            <form asp-action="Create" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Genre.ID" />
                <div class="form-group">
                    <label asp-for="Genre.Name" class="control-label dialog-label"></label>
                    <input asp-for="Genre.Name" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Genre.Name" class="text-danger"></span>
                </div>
                <div class="submit-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                    <a class="index-link" asp-action="Index">Back to Index</a>
                </div>
            </form>
        </div>
    </div>
</div>