@model GameSource.ViewModels.GameSource.GenreViewModel.GenreDetailsViewModel

@{
    ViewData["Title"] = "Genre";
}

<label asp-for="Genre.Name" class="control-label font-weight-bold"></label><h1 class="text-center">@Model.Genre.Name</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Genre.ID" class="control-label font-weight-bold"></label><p>@Model.Genre.ID</p>
        </div>
    </div>
</div>