@model GameSource.ViewModels.GameSource.GenreViewModel.GenreDetailsViewModel

@{
    ViewData["Title"] = Model.Genre.Name;
}

<div class="container details-page page-content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="page-heading">Genre</div>
            <hr />
            <label asp-for="Genre.ID" class="control-label font-weight-bold"></label>
            <p>@Model.Genre.ID</p>
            <label asp-for="Genre.Name" class="control-label font-weight-bold"></label>
            <p>@Model.Genre.Name</p>
            <hr />
            <div class="link-section">
                <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
            </div>
        </div>
    </div>
</div>