@model IEnumerable<GameSource.Models.Genre>


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>
<a class="btn btn-primary" asp-controller="Genre" asp-action="Update">Update a Genre</a>

<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@genre.Genre_ID">View</a></td>
                    <td><a class="btn btn-primary" asp-action="Update" asp-route-id="@genre.Genre_ID">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

