@model GameSource.ViewModels.GameSource.ReviewViewModel.ReviewCreateViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

<div id="create-review">
    <div class="row justify-content-center text-left">
        <div class="page-heading">Add a new Review</div>
    </div>
    <div class="row justify-content-center">
        <form asp-action="Create" asp-controller="Review" class="dialog-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ID" />
            <input type="hidden" asp-for="Game.ID" />
            <div class="form-group">
                <label asp-for="Review.Title" class="control-label dialog-label"></label>
                <input asp-for="Review.Title" class="form-control dialog-input dialog-input-base" id="create-review-title-input" />
                <span asp-validation-for="Review.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Body" class="control-label dialog-label"></label>
                <input asp-for="Review.Body" class="form-control dialog-input dialog-input-base" id="create-review-body-input" />
                <span asp-validation-for="Review.Body" class="text-danger"></span>
            </div>
            <div class="link-section-centered">
                <div class="form-group">
                    <input type="submit" value="Submit Review" class="btn btn-primary" id="create-review-btn" />
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/js/review.js"></script>
}