@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileEditViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;

@{
    var avatarImageFilePath = "~/Images/UserProfile/Avatar/" + (Model.UserProfile.AvatarFilePath ?? "default_avatar.png");
}

<div class="col-md-9 float-left" id="userprofile-avatar-settings">
    <div class="sub-heading">Avatar</div>
    <form enctype="multipart/form-data" method="post" asp-action="AvatarSettingsPartial" class="dialog-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserProfile.ID" />
        <div class="form-group">
            <label asp-for="UserProfile.AvatarFilePath" class="control-label dialog-label"></label>
            <img id="userprofile-avatar-settings-thumbnail" src="@avatarImageFilePath" asp-append-version="true" />
        </div>
        <div class="form-group">
            <label asp-for="UserProfile.AvatarImage" class="control-label dialog-label"></label>
            <input asp-for="UserProfile.AvatarImage" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="UserProfile.AvatarImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </form>
</div>