@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileEditViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject SignInManager<User> signInManager;

<div class="col-md-9 float-left" id="userprofile-avatar-settings">
    <h4 class="sub-heading">Avatar</h4>
    <hr />
    <form enctype="multipart/form-data" method="post" asp-action="AvatarSettings">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserProfile.ID" />
        <div class="form-group">
            <label asp-for="UserProfile.AvatarImage" class="control-label"></label>
            <input asp-for="UserProfile.AvatarImage" class="form-control" />
            <span asp-validation-for="UserProfile.AvatarImage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}