@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileEditViewModel

<div class="col-md-9 float-left" id="userprofile-email-settings">
    <h4 class="sub-heading">Email</h4>
    <hr />
    <form id="userprofile-email-settings-form" asp-action="EmailSettingsPartial" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#userprofile-email-settings-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="User.Id" />
        <div class="form-group">
            <label asp-for="EmailAddress" class="control-label dialog-label"></label>
            <input asp-for="EmailAddress" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VerifiedEmailAddress" class="control-label dialog-label"></label>
            <input asp-for="VerifiedEmailAddress" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="VerifiedEmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}