@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileEditViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject SignInManager<User> signInManager;
@inject RoleManager<UserRole> roleManager;

@{
    ViewData["Title"] = "Profile settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="userprofile-settings-page">
    <div class="page-heading text-dark text-bold"><span class="page-heading-username">@User.Identity.Name</span> > Profile Settings</div>
    <div class="page-content container clearfix" id="userprofile-settings-page-content">
        <div class="col-md-3 float-left pr-4">
            <nav class="menu position-relative" aria-label="Profile Settings">
                <a class="menu-item active" id="userprofile-general-settings-btn">
                    General
                </a>
                <a class="menu-item" id="userprofile-avatar-settings-btn">
                    Avatar
                </a>
                <a class="menu-item" id="userprofile-profile-background-settings-btn">
                    Profile Background
                </a>
            </nav>
        </div>

        <input type="hidden" asp-for="UserProfile.ID" id="userProfileId" />
        <div id="userprofile-general-settings"></div>
        <div id="userprofile-avatar-settings"></div>
        <div id="userprofile-profile-background-settings"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var userProfileId = $('#userProfileId').val();
            console.log("userProfileId: " + userProfileId);

            generalSettings(userProfileId);
            $('#userprofile-general-settings').show();
            $('#userprofile-avatar-settings').hide();
            $('#userprofile-profile-background-settings').hide();

            $('#userprofile-general-settings-btn').on('click', function (e) {
                generalSettings(userProfileId);
            });

            function generalSettings(userProfileId) {
                $('#userprofile-avatar-settings').hide();
                $('#userprofile-profile-background-settings').hide();

                $.ajax({
                    url: '/user/profile/' + userProfileId + '/general-settings',
                    type: 'GET',
                    success: function (result) {
                        $('#userprofile-general-settings').html(result);
                        $('#userprofile-general-settings').show();
                    },
                    error: function (xhr) {
                        console.log("Error: " + xhr.statusText);
                    }
                });
            }

            $('#userprofile-avatar-settings-btn').on('click', function (e) {
                avatarSettings(userProfileId);
            });

            function avatarSettings(userProfileId) {
                $('#userprofile-general-settings').hide();
                $('#userprofile-profile-background-settings').hide();

                $.ajax({
                    url: '/user/profile/' + userProfileId + '/avatar-settings',
                    type: 'GET',
                    success: function (result) {
                        $('#userprofile-avatar-settings').html(result);
                        $('#userprofile-avatar-settings').show();
                    },
                    error: function (xhr) {
                        console.log("Error: " + xhr.statusText);
                    }
                });
            }

            $('#userprofile-profile-background-settings-btn').on('click', function (e) {
                profileBackgroundSettings(userProfileId);
            });

            function profileBackgroundSettings(userProfileId) {
                $('#userprofile-general-settings').hide();
                $('#userprofile-avatar-settings').hide();

                $.ajax({
                    url: '/user/profile/' + userProfileId + '/profile-background-settings',
                    type: 'GET',
                    success: function (result) {
                        $('#userprofile-profile-background-settings').html(result);
                        $('#userprofile-profile-background-settings').show();
                    },
                    error: function (xhr) {
                        console.log("Error: " + xhr.statusText);
                    }
                });
            }
        });
    </script>
}