@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileCommentViewModel.UserProfileCommentCreateViewModel

@{
    ViewData["Title"] = "Add a new Comment";
}

@{ 
    var avatarImageFilePath = "~/Images/UserProfile/Avatar/" + (Model.UserProfile.AvatarFilePath ?? "default_avatar.png");
}

<div id="userprofile-create-comment">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserProfileComment.ID" />
    <h2 class="font-weight-bold userprofile-comments-header">Comments</h2>
    <div class="userprofile-create-comment-entry">
        <div class="userprofile-comment-user-avatar">
            <img src="@avatarImageFilePath" asp-append-version="true" />
        </div>
        <div class="userprofile-create-comment-box">
            <input id="userprofile-create-comment-input" asp-for="UserProfileComment.Body" class="form-control" placeholder="Create a comment..." />
            <span asp-validation-for="UserProfileComment.Body" class="text-danger"></span>
        </div>
    </div>
    <div class="post-comment-btn-section">
        <button class="btn btn-primary" id="userprofile-create-comment-btn">Post comment</button>
    </div>
</div>

@section scripts {
    <script src="~/js/userprofile-comments.js"></script>
}