@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileCommentViewModel.UserProfileCommentCreateViewModel

@{
    ViewData["Title"] = "Add a new Comment";
}

<div id="userprofile-create-comment">
    <form method="post" asp-controller="UserProfileComment" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserProfileComment.ID" />
        <div class="" id="userprofile-create-comment-author"></div>
        <div class="" id="userprofile-create-comment-body">
            <input id="userprofile-create-comment-body-input" asp-for="UserProfileComment.Body" class="form-control" placeholder="Create a comment..." />
            <span asp-validation-for="UserProfileComment.Body" class="text-danger"></span>
        </div>
        <div class="">
            <button class="btn btn-primary" id="userprofile-create-comment-btn">Post comment</button>
        </div>
    </form>
</div>

@section scripts {
    <script src="~/js/userprofile-comments.js"></script>
} 