/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Layout navbar dropdown columns*/
@media screen and (max-width: 991px) {
    .dropdown-columns {
        height: 200px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-columns {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
        width: 500px;
        height: 170px;
    }
}

/* Layout */
body {
    background-color: #1b2838;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #66c0f4;
}

.navbar,
.navbar-brand {
    background-color: #171a21;
    color: #66c0f4;
}

.nav-link,
.navbar-brand:hover {
    color: #66c0f4;
}

.nav-link:hover, 
#navbarDropdown:hover {
    color: white;
}

.dropdown-menu {
    background-color: #c7d5e0;
}

.dropdown-header {
    color: #4f94bc;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover, 
.dropdown-menu > li:hover:not(.dropdown-header) {
    background-color: #171a21;
    color: white;
}

.footer {
    background-color: #171a21;
    color: #8F98A0;
    line-height: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.divider {
    border-top: 1px solid #363c44;
}

.divider-margin {
    margin-top: 5px;
    margin-bottom: 30px;
}

.footer-links > a {
    color: #C6D4DF;
}

.footer-links > a:hover {
    color: #fff;
}

.sub-heading {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #E4E4E4;
    padding: 0px 0px 6px 10px;
    border-bottom: 2px solid rgba(228, 228, 228, 0.1);
}

hr {
    border-color: #363c44;
}

.link-section {
    display: flex;
    justify-content: flex-end;
}

.index-link {
    background-color: #E4E4E4;
    color: black;
}

.submit-btn-section {
    display: flex;
    justify-content: flex-end;
}

.dialog-form {
    flex: 1;
    align-items: center;
    padding: 24px 20px;
}

.dialog-label {
    font-weight: 300;
    color: #969696;
    text-transform: uppercase;
    line-height: 19px;
    font-size: 13px;
    margin-bottom: 4px;
    user-select: none;
    letter-spacing: initial;
}

input.dialog-input-base {
    box-shadow: inset 1px 1px 0px #000a;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
}

.dialog-input-base {
    background: rgba(59, 63, 72, 0.5);
    color: #dfe3e6;
    font-size: 14px;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px #0000;
    transition: all .2s ease-in-out;
}

.dialog-input-base:focus {
    background-color: rgba(0, 0, 0, 0.25);
    color: #dfe3e6;
}

input.dialog-input {
    flex: 1;
}

.dialog-input {
    display: block;
    line-height: 22px;
    padding: 8px;
}

.dialog-input > option {
    background-color: #363c44;
    color: white;
}

.dialog-textarea {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    border-radius: 3px;
}

.dialog-textarea:focus {
    background-color: rgba(0, 0, 0, 0.25);
    color: #dfe3e6;
}

/* DataTables */
.dataTables_length, 
.dataTables_filter, 
table.dataTable thead, 
.dataTables_info, 
#platformTypeIndexTable_paginate > a {
    color: white !important;
}

/* CKEditor Textarea */
.ck-toolbar {
    background-color: #E4E4E4 !important;
}

.ck-editor__editable_inline {
    resize: none;
    overflow: hidden;
    outline: none;
    color: #909090;
    font-size: 14px;
    line-height: 1.4em;
    box-shadow: inset 1px 1px 0px #000a;
    border: none;
    background-color: rgba(0, 0, 0, 0.25) !important;
    padding: 12px;
    height: 400px;
}

/* Page formatting */
.page-heading {
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

.page-heading-bottom-border {
    border-bottom: 1px solid #808080;
}

.page-content {
    padding-top: 20px;
}

/* Homepage */
.homepage-section {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* UserProfile */
.profile-heading {
    margin-bottom: 5px;
}

.profile-heading-username {
    font-size: 32px;
}

.role-tag-base {
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    width: 120px;
    margin-left: 5px;
}

.admin-role-tag {
    background-color: gold;
    color: black;
}

.moderator-role-tag {
    background-color: blue;
    color: white;
}

#userprofile-create-comment {
    margin-top: 80px;
    margin-bottom: 15px;
}

.userprofile-comments-header {
    margin-bottom: 15px;
}

.userprofile-create-comment-entry {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.userprofile-comment-user-avatar {
    flex: 0 0 50px;
}

.userprofile-comment-user-avatar > img {
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: none;
}

.userprofile-create-comment-box {
    flex: auto;
}

.post-comment-btn-section {
    display: flex;
    justify-content: flex-end;
}

.profile-avatar-image > img {
    height: 250px;
    width: auto;
}

#private-profile-text {
    color: red;
}

/* UserProfile Settings + Account Settings */
.userprofile-page-heading {
    padding: 8px 16px;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
}

#userprofile-account-settings-page-heading-username,
#userprofile-profile-settings-page-heading-username {
    font-size: 30px;
}

.menu {
    margin-bottom: 16px;
    list-style: none;
    border: 1px solid #808080;
    border-radius: 6px;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid #808080;
}

.menu-item.active {
    background-color: #555;
    color: white;
}

.menu a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#userprofile-avatar-settings-thumbnail {
    height: 200px;
    width: auto;
    padding: 10px;
}

/* Login Page */
.login-page {

}

.login-left-col {
    min-height: 352px;
    padding: 40px 20px 20px 20px;
}

.login-title {
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

.login-form {
    position: relative;
    min-width: 274px;
    display: block;
}

.login-label {
    text-align: left;
    font-size: 16px;
    color: #b8b6b4;
    margin-bottom: 5px;
}

.login-btn-section {
    margin-top: 20px;
}

.login-btn {
    border-radius: 2px;
    border: none;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
}

.login-btn > span {
    padding: 0 50px;
    font-size: 15px;
    line-height: 30px;
}

#login-forgot-password {
    margin: 20px 0 0 0;
    display: block;
    text-align: center;
    font-size: 15px;
}

.login-right-col {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-right-col > .subtext {
    font-size: 16px;
    color: #b8b6b4;
}

.login-join-desc {
    max-width: 60%;
    text-align: center;
    font-size: 14px;
}

.learn-more-link {
    margin-top: 10px;
    color: #FFFFFF;
}

.join-img {
    margin-top: 20px;
    width: 320px;
    border: none;
}

.login-sign-up-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-sign-up-section a {
    margin: 20px 0 0 0;
    display: block;
    text-align: center;
}

.login-sign-up-btn {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #fff !important;
    background: transparent;
}

.login-sign-up-btn > span {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 2px;
    display: block;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
}

/* Register Page */
.register-title {
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 34px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
}

.register-page {
    padding-top: 40px;
}

.register-label {
    text-align: left;
    font-size: 16px;
    color: #b8b6b4;
    margin-bottom: 5px;
}

.register-btn-section {
    margin-top: 20px;
}

.register-btn {
    margin: 10px 0 0 0;
    padding: 8px 40px;
}

#register-login-link {
    margin: 20px 0 0 0;
    display: block;
    font-size: 15px;
}

#admin-register-user-list-link {
    margin: 20px 0 0 0;
    display: block;
    font-size: 15px;
}

/* News Article */
.resizable-input {
}

#news-article-container {
    word-wrap: break-word;
}

#news-article-dateCreated {
    float: right;
    font-size: 16px;
}

.news-article-post-block {
    word-wrap: break-word;
    padding-top: 5px;
}

.news-article-post-dateCreated {
    float: right;
    font-size: 16px;
}

.news-article-post-header {
    margin-top: 0;
    font-weight: 600;
    font-size: 24px;
}

.news-article-post-body {
    padding-top: 5px;
}