/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Layout navbar dropdown columns*/
@media screen and (max-width: 991px) {
    .dropdown-columns {
        height: 200px;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-columns {
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
        width: 500px;
        height: 170px;
    }
}

/* UserProfile Settings + Account Settings */
#settings-page {
    box-sizing: border-box;
}

.page-heading {
    padding: 8px 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
    font-weight: 600;
    border-bottom: 1px solid #808080;
    font-size: 20px;
}

.page-heading-username {
    font-size: 30px;
}

.page-content {
    padding-top: 20px;
}

.menu {
    margin-bottom: 16px;
    list-style: none;
    border: 1px solid #808080;
    border-radius: 6px;
}

.menu-item {
    position: relative;
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid #808080;
}

.menu-item.active {
    background-color: #555;
    color: white;
}

.menu a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* UserProfile */
#userprofile-comment-header {
    margin-bottom: 15px;
}

#userprofile-create-comment {
    margin-top: 15px;
    margin-bottom: 15px;
}

#userprofile-create-comment-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

#userprofile-create-comment-btn {
    float: right;
}