@model GameSource.ViewModels.GameSource.PlatformViewModel.PlatformEditViewModel

@{
    ViewData["Title"] = "Edit Platform";
}

<div class="container edit-page page-content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="page-heading">Edit Platform</div>
            <hr />
            <form asp-action="Edit" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Platform.ID" />
                <div class="form-group">
                    <label asp-for="Platform.Name" class="control-label dialog-label"></label>
                    <input asp-for="Platform.Name" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Platform.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Platform.PlatformType" class="control-label dialog-label"></label>
                    <select asp-for="PlatformTypeID" asp-items="@Model.PlatformTypes" class="form-control dialog-input dialog-input-base">
                        <option value="">Select a Platform/Platforms</option>
                    </select>
                    <span asp-validation-for="Platform.PlatformType" class="text-danger"></span>
                </div>
                <div class="submit-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Save changes" class="btn btn-primary" />
                        <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}