@model IEnumerable<GameSource.Models.Platform>


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var platform in Model)
                {
                    <td>@platform.Name</td>
                    <td>@platform.Type</td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@platform.Platform_ID">View</a></td>
                    }
                </tr>
        </tbody>
    </table>
</div>

