@model GameSource.Areas.Admin.ViewModels.AdminUserViewModel.AdminUserRegisterViewModel

@{
    ViewData["Title"] = "Admin - Create a new account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container register-page page-content">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="page-heading">Admin - Create a new account</div>
            <hr />
            <form asp-area="Admin" asp-controller="User" asp-action="Register" method="post" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label dialog-label"></label>
                    <input asp-for="Username" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label dialog-label"></label>
                    <input asp-for="Password" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label dialog-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label dialog-label"></label>
                    <input asp-for="Email" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="text-center register-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary register-btn" />
                    </div>
                    <a id="admin-register-user-list-link" asp-area="Admin" asp-controller="User" asp-action="Index">Back to User List</a>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        
    </div>
</div>