@model GameSource.Areas.GameSourceUser.ViewModels.UserProfileViewModel.UserProfileEditViewModel

<div class="col-9 float-left" id="userprofile-account-settings">
    <div class="settings-sub-heading">Account</div>
    <form method="post" asp-action="AccountSettingsPartial" class="dialog-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="User.Id" />
        <div class="form-group">
            <label asp-for="User.FirstName" class="control-label dialog-label"></label>
            <input asp-for="User.FirstName" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="User.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.LastName" class="control-label dialog-label"></label>
            <input asp-for="User.LastName" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="User.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Age" class="control-label dialog-label"></label>
            <input asp-for="User.Age" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="User.Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="User.Location" class="control-label dialog-label"></label>
            <input asp-for="User.Location" class="form-control dialog-input dialog-input-base" />
            <span asp-validation-for="User.Location" class="text-danger"></span>
        </div>
        <div class="link-section">
            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}