@model GameSource.ViewModels.GameSource.NewsArticleViewModel.NewsArticleDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="page-heading">
                <span class="font-weight-bold" id="news-article-title">@Model.NewsArticle.Title</span>
                <span id="news-article-dateCreated">@Model.NewsArticle.DateCreated</span>
            </p>
            <p class="" id="news-article-createdBy">@Model.NewsArticle.CreatedBy</p>
            <p class="" id="news-article-body">@Model.NewsArticle.Body</p>
        </div>
    </div>
</div>