
@{
    ViewData["Title"] = "_AccountSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 float-left" id="account-settings">
    <div class="sub-heading">Account</div>
</div>