
@{
    ViewData["Title"] = "Account Settings";
}

<div class="col-md-9 float-left" id="account-settings">
    <div class="sub-heading">Account</div>
    <div>Zoomin in the foreign, got the engine roarin</div>
</div>