@model GameSource.ViewModels.GameSourceUser.AccountViewModel.AccountLoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-2">
            <div class="login-left-col">
                <div class="login-title">Login</div>
                <hr />
                <form asp-controller="Account" asp-action="Login" method="post" class="login-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label login-label"></label>
                        <input asp-for="UserName" class="form-control dialog-input dialog-input-base" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label login-label"></label>
                        <input asp-for="Password" class="form-control dialog-input dialog-input-base" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe" class="control-label login-label">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </form>
                <div class="text-center login-sign-in-section">
                    <button type="submit" class="btn btn-primary login-btn">
                        <span>Login</span>
                    </button>
                    <a id="login-forgot-password" href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="login-right-col">
                <div class="login-join-desc subtext">Join GameSource to learn about all things games.</div>
                <a class="learn-more-link" href="">Learn more</a>
                <img alt="Join GameSource" class="join-img" src="" />
                <div class="login-sign-up-section">
                    <a class="login-sign-up-btn" href="">
                        <span>Sign up</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>