@model GameSource.ViewModels.GameSourceUser.AccountViewModel.AccountProfileSettingsViewModel
@using Microsoft.AspNetCore.Identity;
@using GameSource.Models.GameSourceUser;
@inject SignInManager<User> signInManager;
@inject RoleManager<UserRole> roleManager;

@{
    ViewData["Title"] = "Profile settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="profile-settings-page">
    <div class="page-heading text-dark text-bold"><span class="page-heading-username">@User.Identity.Name</span> > Profile Settings</div>
    <div class="page-content container clearfix" id="profile-settings-page-content">
        <div class="col-md-3 float-left pr-4">
            <nav class="menu position-relative" aria-label="Profile Settings">
                <a class="menu-item active" onclick="generalSettings();">
                    General
                </a>
                <a class="menu-item" onclick="avatarSettings();">
                    Avatar
                </a>
                <a class="menu-item" onclick="profileBackgroundSettings();">
                    Profile Background
                </a>
            </nav>
        </div>

        <div class="col-md-9 float-left">
            <div class="sub-heading">General</div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/profileSettings.js"></script>
}