@model GameSource.ViewModels.GameSourceUser.AccountViewModel.AccountRegisterViewModel

@{
    ViewData["Title"] = "Create a new account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="register-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Create a new account</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form asp-action="Register" method="post" class="dialog-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label register-label"></label>
                    <input asp-for="Username" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label register-label"></label>
                    <input asp-for="Password" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label register-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label register-label"></label>
                    <input asp-for="Email" class="form-control dialog-input dialog-input-base" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="text-center register-btn-section">
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-primary register-btn" />
                    </div>
                    <a id="register-login-link" asp-action="Login">Already have an account? Login</a>
                </div>
            </form>
        </div>
    </div>
</div>