@model GameSource.ViewModels.GameSource.PublisherViewModel.PublisherDetailsViewModel

@{
    ViewData["Title"] = Model.Publisher.Name;
}

<div class="details-page page-content">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="page-heading">Publisher</div>
            <div class="page-sub-heading">@Model.Publisher.Name</div>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <label asp-for="Publisher.ID" class="control-label font-weight-bold"></label>
            <p>@Model.Publisher.ID</p>
            <label asp-for="Publisher.Name" class="control-label font-weight-bold"></label>
            <p>@Model.Publisher.Name</p>
            <hr />
            <div class="link-section">
                <a class="btn btn-primary index-link" asp-action="Index">Back to Index</a>
            </div>
        </div>
    </div>
</div>