@model GameSource.ViewModels.GameSource.PublisherViewModel.PublisherDetailsViewModel

@{
    ViewData["Title"] = "Publisher";
}

<label asp-for="Publisher.Name" class="control-label font-weight-bold"></label><h1 class="text-center">@Model.Publisher.Name</h1>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="Publisher.ID" class="control-label font-weight-bold"></label><p>@Model.Publisher.ID</p>
        </div>
    </div>
</div>