@model IEnumerable<GameSource.Models.Publisher>


@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publisher in Model)
            {
                <tr>
                    <td>@publisher.Name</td>
                    <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@publisher.ID">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

